* {
  margin: 0;
  padding: 0;
}
* header {
  float: left;
  width: 100px;
  height: 100%;
  border: 1px solid red;
  position: fixed;
}
* header img {
  margin-top: 30px;
}
* header ul {
  list-style-type: none;
  padding-left: 20px;
  position: absolute;
  left: 20%;
  top: 35%;
  font-size: 55px;
}
* header ul:hover li:hover {
  color: #bba86d;
}
* header ul li {
  cursor: pointer;
  margin-top: 1px;
}
* header ul li.active {
  color: #bba86d;
}
* div#content {
  position: fixed;
  top: 0;
  left: 100px;
}
* div#content img {
  width: 100%;
  height: auto;
}
