* body {
  margin: 0;
  border: 0;
  padding: 0;
}
* body header {
  background-color: white;
  width: 100%;
  height: 120px;
}
* body header nav {
  width: 80%;
  margin: auto;
}
* body header nav img {
  float: left;
  padding-top: 20px;
}
* body header nav span.whitespace {
  padding-left: 10px;
}
* body header nav h1 {
  display: block;
  text-align: center;
  padding-left: -5px;
  font-size: 40px;
  color: #bba86d;
}
* body header nav ul {
  float: right;
  padding-top: 25px;
}
* body header nav ul li {
  font-size: 25px;
  display: inline;
  color: black;
}
* body header nav ul li:hover,
* body header nav ul li.active {
  border-bottom: 4px solid #bba86d;
  padding-bottom: 10px;
}
* body div#content {
  width: 80%;
  margin: auto;
}
* body {
  font-family: "Times Roman";
}
* body div#content div#panel {
  float: left;
  border-radius: 5px;
  width: 250px;
  border: 1px solid #795548;
  padding: 0 13px 10px 10px;
  font-size: 25px;
  color: #0d47a1;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffbb33, #FF8800);
  background: -o-linear-gradient(#ffbb33, #FF8800);
  background: -moz-linear-gradient(#ffbb33, #FF8800);
  background: linear-gradient(#ffd180, #ffb300);
}
* body div#content div#panel h1 {
  font-weight: normal;
  color: #0d47a1;
}
* body div#content div#panel select {
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 20px;
  margin-bottom: 10px;
}
* body div#content div#panel input[type='date'] {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 20px;
}
* body div#content div#panel button {
  font-size: 30px;
  color: white;
  background-color: #0896ff;
  border-radius: 5px;
  border: 0;
  padding: 5px;
}
* body div#content div#panel button:hover {
  background-color: #003580;
}
* body div#content div#listRooms {
  float: right;
  width: 1150px;
}
* body {
  font-family: "Times Roman";
}
* body div#content div#listRooms {
  float: right;
  width: 1150px;
}
* body div#content div#listRooms div#formatConfiguration {
  border-width: 5px 1px 1px 1px;
  border-style: solid;
  border-color: #0896ff;
  border-radius: 5px;
  padding: 5px;
  height: 20px;
}
* body div#content div#listRooms div#formatConfiguration div#optionsFormat {
  color: #0896ff;
  float: left;
  cursor: pointer;
}
* body div#content div#listRooms div#formatConfiguration div#optionsFormat span.redColor {
  color: red;
}
* body div#content div#listRooms div#formatConfiguration div#typeFormat {
  float: right;
  font-size: 20px;
}
* body div#content div#listRooms div#formatConfiguration div#typeFormat span {
  margin-right: 10px;
  cursor: pointer;
}
* body div#content div#listRooms div#typeRoomConfiguration {
  margin-top: 3px;
  border-width: 5px 1px 1px 1px;
  border-style: solid;
  border-color: #0896ff;
  border-radius: 5px;
  padding: 0;
  height: 30px;
}
* body div#content div#listRooms div#typeRoomConfiguration span {
  color: white;
  cursor: pointer;
  padding: 0;
  font-size: 27px;
  padding: 0 10px;
}
* body div#content div#listRooms div#typeRoomConfiguration span.active {
  background-color: #57af36;
}
* body div#content div#listRooms div#typeRoomConfiguration span:not(.active) {
  background-color: red;
}
* body div#content div#listRooms div#typeRoomConfiguration span:not(:last-child) {
  border-right: 1px solid #0896ff;
}
* body div#content div#listRooms div.room {
  position: relative;
  width: 100%;
  height: 220px;
  border: 1px solid grey;
  margin-top: 10px;
  border-radius: 5px;
}
* body div#content div#listRooms div.room:not(.visible) {
  display: none;
}
* body div#content div#listRooms div.room img.imageRoom {
  position: absolute;
  top: 10px;
  left: 10px;
}
* body div#content div#listRooms div.room div.nameHotel {
  padding: 0;
  position: absolute;
  top: 5px;
  left: 220px;
  font-size: 27px;
  font-weight: bold;
  color: #0896ff;
}
* body div#content div#listRooms div.room div.price {
  padding: 0;
  position: absolute;
  top: 130px;
  left: 980px;
  font-weight: bold;
  font-size: 30px;
  color: red;
}
* body div#content div#listRooms div.room div.typeRoom {
  padding: 0;
  position: absolute;
  top: 120px;
  left: 225px;
  color: #0896ff;
  font-size: 20px;
}
* body div#content div#listRooms div.room div.numberOfRoomsAvailable {
  padding: 0;
  position: absolute;
  top: 160px;
  left: 225px;
  color: #0896ff;
  font-size: 20px;
}
* body div#content div#listRooms div.room button.bookingButton {
  position: absolute;
  top: 170px;
  left: 980px;
  border: 0;
  color: white;
  font-weight: bold;
  background-color: #0896ff;
  padding: 10px;
  box-shadow: 0px 0px 0px 2px white, 0px 0px 0px 4px #0896ff;
  cursor: point;
}
