@import 'colors.less';

* {

	body {

		h1 {
			text-align: center;
			color: @blue;

		}

		div#listHeaders {
			width: 80%;
			height: auto;
			margin: 0 auto;

			div.header {
				width: 200px;
				float: left;

				margin: 10px;
				padding: 10px;


				border: 1px solid grey;
				border-radius: 1px;

				div {
					padding: 5px;
					
					span {
							font-size: 20px;					
							font-weight: bold;
					}

					input {
						width: 100%;
					}

				}

			}

		}
	

	}
}

