* {
	body {
		margin: 0;
		header {
			nav {
				text-align: center;
				font-size: 40px;
				
				span.blue {
					color: #007fad;

				}

				span.yellow {
					color: #FF8800;
				}
		
				span.red {
					color: #B71C1C;
				}
			}

			div#searchEngine {
				text-align: center;
				background-color: #37454d;
				width: 100%;
				height: 90px;

				input {
					margin-top: 30px;

					&[type="date"] {
						margin-left: 10px;
						border-radius: 5px;
						border: 0;
						height: 30px;

					}

					&[type="submit"] {

						width: 100px;
						height: 30px;

						font-weight: bold;
						color: #fff;
						background-color: @blue;
						cursor: pointer;
						overflow: hidden;
						border-radius: 5px;
						border: 0;
						text-decoration: none;
						margin-left: 10px;
					}

				}



			}

		}


	}


}
